/* Font Size 工具类 */
/* u-fs: font-size */
/* 规则: 1-80 类名数字与值一一对应，如 u-fs34 = 34rpx */

.u-fs1 { font-size: 1rpx; }
.u-fs2 { font-size: 2rpx; }
.u-fs3 { font-size: 3rpx; }
.u-fs4 { font-size: 4rpx; }
.u-fs5 { font-size: 5rpx; }
.u-fs6 { font-size: 6rpx; }
.u-fs7 { font-size: 7rpx; }
.u-fs8 { font-size: 8rpx; }
.u-fs9 { font-size: 9rpx; }
.u-fs10 { font-size: 10rpx; }
.u-fs11 { font-size: 11rpx; }
.u-fs12 { font-size: 12rpx; }
.u-fs13 { font-size: 13rpx; }
.u-fs14 { font-size: 14rpx; }
.u-fs15 { font-size: 15rpx; }
.u-fs16 { font-size: 16rpx; }
.u-fs17 { font-size: 17rpx; }
.u-fs18 { font-size: 18rpx; }
.u-fs19 { font-size: 19rpx; }
.u-fs20 { font-size: 20rpx; }
.u-fs21 { font-size: 21rpx; }
.u-fs22 { font-size: 22rpx; }
.u-fs23 { font-size: 23rpx; }
.u-fs24 { font-size: 24rpx; }
.u-fs25 { font-size: 25rpx; }
.u-fs26 { font-size: 26rpx; }
.u-fs27 { font-size: 27rpx; }
.u-fs28 { font-size: 28rpx; }
.u-fs29 { font-size: 29rpx; }
.u-fs30 { font-size: 30rpx; }
.u-fs31 { font-size: 31rpx; }
.u-fs32 { font-size: 32rpx; }
.u-fs33 { font-size: 33rpx; }
.u-fs34 { font-size: 34rpx; }
.u-fs35 { font-size: 35rpx; }
.u-fs36 { font-size: 36rpx; }
.u-fs37 { font-size: 37rpx; }
.u-fs38 { font-size: 38rpx; }
.u-fs39 { font-size: 39rpx; }
.u-fs40 { font-size: 40rpx; }
.u-fs41 { font-size: 41rpx; }
.u-fs42 { font-size: 42rpx; }
.u-fs43 { font-size: 43rpx; }
.u-fs44 { font-size: 44rpx; }
.u-fs45 { font-size: 45rpx; }
.u-fs46 { font-size: 46rpx; }
.u-fs47 { font-size: 47rpx; }
.u-fs48 { font-size: 48rpx; }
.u-fs49 { font-size: 49rpx; }
.u-fs50 { font-size: 50rpx; }
.u-fs51 { font-size: 51rpx; }
.u-fs52 { font-size: 52rpx; }
.u-fs53 { font-size: 53rpx; }
.u-fs54 { font-size: 54rpx; }
.u-fs55 { font-size: 55rpx; }
.u-fs56 { font-size: 56rpx; }
.u-fs57 { font-size: 57rpx; }
.u-fs58 { font-size: 58rpx; }
.u-fs59 { font-size: 59rpx; }
.u-fs60 { font-size: 60rpx; }
.u-fs61 { font-size: 61rpx; }
.u-fs62 { font-size: 62rpx; }
.u-fs63 { font-size: 63rpx; }
.u-fs64 { font-size: 64rpx; }
.u-fs65 { font-size: 65rpx; }
.u-fs66 { font-size: 66rpx; }
.u-fs67 { font-size: 67rpx; }
.u-fs68 { font-size: 68rpx; }
.u-fs69 { font-size: 69rpx; }
.u-fs70 { font-size: 70rpx; }
.u-fs71 { font-size: 71rpx; }
.u-fs72 { font-size: 72rpx; }
.u-fs73 { font-size: 73rpx; }
.u-fs74 { font-size: 74rpx; }
.u-fs75 { font-size: 75rpx; }
.u-fs76 { font-size: 76rpx; }
.u-fs77 { font-size: 77rpx; }
.u-fs78 { font-size: 78rpx; }
.u-fs79 { font-size: 79rpx; }
.u-fs80 { font-size: 80rpx; }
