/* Font Weight 工具类 */
/* u-fw: font-weight */
/* 规则: 100-800 类名数字与值一一对应，每50一档，如 .u-fw100 { font-weight: 100; } */

.u-fw100 { font-weight: 100; }
.u-fw150 { font-weight: 150; }
.u-fw200 { font-weight: 200; }
.u-fw250 { font-weight: 250; }
.u-fw300 { font-weight: 300; }
.u-fw350 { font-weight: 350; }
.u-fw400 { font-weight: 400; }
.u-fw450 { font-weight: 450; }
.u-fw500 { font-weight: 500; }
.u-fw550 { font-weight: 550; }
.u-fw600 { font-weight: 600; }
.u-fw650 { font-weight: 650; }
.u-fw700 { font-weight: 700; }
.u-fw750 { font-weight: 750; }
.u-fw800 { font-weight: 800; }
