/* Padding 工具类 */
/* u-pt: padding-top, u-pl: padding-left, u-pb: padding-bottom, u-pr: padding-right, u-pd: padding */

/* ==================== padding-top ==================== */
.u-pt1 { padding-top: 1rpx; }
.u-pt2 { padding-top: 2rpx; }
.u-pt3 { padding-top: 3rpx; }
.u-pt4 { padding-top: 4rpx; }
.u-pt5 { padding-top: 5rpx; }
.u-pt6 { padding-top: 6rpx; }
.u-pt7 { padding-top: 7rpx; }
.u-pt8 { padding-top: 8rpx; }
.u-pt9 { padding-top: 9rpx; }
.u-pt10 { padding-top: 10rpx; }
.u-pt11 { padding-top: 11rpx; }
.u-pt12 { padding-top: 12rpx; }
.u-pt13 { padding-top: 13rpx; }
.u-pt14 { padding-top: 14rpx; }
.u-pt15 { padding-top: 15rpx; }
.u-pt16 { padding-top: 16rpx; }
.u-pt17 { padding-top: 17rpx; }
.u-pt18 { padding-top: 18rpx; }
.u-pt19 { padding-top: 19rpx; }
.u-pt20 { padding-top: 20rpx; }
.u-pt21 { padding-top: 21rpx; }
.u-pt22 { padding-top: 22rpx; }
.u-pt23 { padding-top: 23rpx; }
.u-pt24 { padding-top: 24rpx; }
.u-pt25 { padding-top: 25rpx; }
.u-pt26 { padding-top: 26rpx; }
.u-pt27 { padding-top: 27rpx; }
.u-pt28 { padding-top: 28rpx; }
.u-pt29 { padding-top: 29rpx; }
.u-pt30 { padding-top: 30rpx; }
.u-pt31 { padding-top: 31rpx; }
.u-pt32 { padding-top: 32rpx; }
.u-pt33 { padding-top: 33rpx; }
.u-pt34 { padding-top: 34rpx; }
.u-pt35 { padding-top: 35rpx; }
.u-pt36 { padding-top: 36rpx; }
.u-pt37 { padding-top: 37rpx; }
.u-pt38 { padding-top: 38rpx; }
.u-pt39 { padding-top: 39rpx; }
.u-pt40 { padding-top: 40rpx; }
.u-pt41 { padding-top: 41rpx; }
.u-pt42 { padding-top: 42rpx; }
.u-pt43 { padding-top: 43rpx; }
.u-pt44 { padding-top: 44rpx; }
.u-pt45 { padding-top: 45rpx; }
.u-pt46 { padding-top: 46rpx; }
.u-pt47 { padding-top: 47rpx; }
.u-pt48 { padding-top: 48rpx; }
.u-pt49 { padding-top: 49rpx; }
.u-pt50 { padding-top: 50rpx; }
.u-pt51 { padding-top: 51rpx; }
.u-pt52 { padding-top: 52rpx; }
.u-pt53 { padding-top: 53rpx; }
.u-pt54 { padding-top: 54rpx; }
.u-pt55 { padding-top: 55rpx; }
.u-pt56 { padding-top: 56rpx; }
.u-pt57 { padding-top: 57rpx; }
.u-pt58 { padding-top: 58rpx; }
.u-pt59 { padding-top: 59rpx; }
.u-pt60 { padding-top: 60rpx; }
.u-pt61 { padding-top: 61rpx; }
.u-pt62 { padding-top: 62rpx; }
.u-pt63 { padding-top: 63rpx; }
.u-pt64 { padding-top: 64rpx; }
.u-pt65 { padding-top: 65rpx; }
.u-pt66 { padding-top: 66rpx; }
.u-pt67 { padding-top: 67rpx; }
.u-pt68 { padding-top: 68rpx; }
.u-pt69 { padding-top: 69rpx; }
.u-pt70 { padding-top: 70rpx; }
.u-pt71 { padding-top: 71rpx; }
.u-pt72 { padding-top: 72rpx; }
.u-pt73 { padding-top: 73rpx; }
.u-pt74 { padding-top: 74rpx; }
.u-pt75 { padding-top: 75rpx; }
.u-pt76 { padding-top: 76rpx; }
.u-pt77 { padding-top: 77rpx; }
.u-pt78 { padding-top: 78rpx; }
.u-pt79 { padding-top: 79rpx; }
.u-pt80 { padding-top: 80rpx; }

/* ==================== padding-left ==================== */
.u-pl1 { padding-left: 1rpx; }
.u-pl2 { padding-left: 2rpx; }
.u-pl3 { padding-left: 3rpx; }
.u-pl4 { padding-left: 4rpx; }
.u-pl5 { padding-left: 5rpx; }
.u-pl6 { padding-left: 6rpx; }
.u-pl7 { padding-left: 7rpx; }
.u-pl8 { padding-left: 8rpx; }
.u-pl9 { padding-left: 9rpx; }
.u-pl10 { padding-left: 10rpx; }
.u-pl11 { padding-left: 11rpx; }
.u-pl12 { padding-left: 12rpx; }
.u-pl13 { padding-left: 13rpx; }
.u-pl14 { padding-left: 14rpx; }
.u-pl15 { padding-left: 15rpx; }
.u-pl16 { padding-left: 16rpx; }
.u-pl17 { padding-left: 17rpx; }
.u-pl18 { padding-left: 18rpx; }
.u-pl19 { padding-left: 19rpx; }
.u-pl20 { padding-left: 20rpx; }
.u-pl21 { padding-left: 21rpx; }
.u-pl22 { padding-left: 22rpx; }
.u-pl23 { padding-left: 23rpx; }
.u-pl24 { padding-left: 24rpx; }
.u-pl25 { padding-left: 25rpx; }
.u-pl26 { padding-left: 26rpx; }
.u-pl27 { padding-left: 27rpx; }
.u-pl28 { padding-left: 28rpx; }
.u-pl29 { padding-left: 29rpx; }
.u-pl30 { padding-left: 30rpx; }
.u-pl31 { padding-left: 31rpx; }
.u-pl32 { padding-left: 32rpx; }
.u-pl33 { padding-left: 33rpx; }
.u-pl34 { padding-left: 34rpx; }
.u-pl35 { padding-left: 35rpx; }
.u-pl36 { padding-left: 36rpx; }
.u-pl37 { padding-left: 37rpx; }
.u-pl38 { padding-left: 38rpx; }
.u-pl39 { padding-left: 39rpx; }
.u-pl40 { padding-left: 40rpx; }
.u-pl41 { padding-left: 41rpx; }
.u-pl42 { padding-left: 42rpx; }
.u-pl43 { padding-left: 43rpx; }
.u-pl44 { padding-left: 44rpx; }
.u-pl45 { padding-left: 45rpx; }
.u-pl46 { padding-left: 46rpx; }
.u-pl47 { padding-left: 47rpx; }
.u-pl48 { padding-left: 48rpx; }
.u-pl49 { padding-left: 49rpx; }
.u-pl50 { padding-left: 50rpx; }
.u-pl51 { padding-left: 51rpx; }
.u-pl52 { padding-left: 52rpx; }
.u-pl53 { padding-left: 53rpx; }
.u-pl54 { padding-left: 54rpx; }
.u-pl55 { padding-left: 55rpx; }
.u-pl56 { padding-left: 56rpx; }
.u-pl57 { padding-left: 57rpx; }
.u-pl58 { padding-left: 58rpx; }
.u-pl59 { padding-left: 59rpx; }
.u-pl60 { padding-left: 60rpx; }
.u-pl61 { padding-left: 61rpx; }
.u-pl62 { padding-left: 62rpx; }
.u-pl63 { padding-left: 63rpx; }
.u-pl64 { padding-left: 64rpx; }
.u-pl65 { padding-left: 65rpx; }
.u-pl66 { padding-left: 66rpx; }
.u-pl67 { padding-left: 67rpx; }
.u-pl68 { padding-left: 68rpx; }
.u-pl69 { padding-left: 69rpx; }
.u-pl70 { padding-left: 70rpx; }
.u-pl71 { padding-left: 71rpx; }
.u-pl72 { padding-left: 72rpx; }
.u-pl73 { padding-left: 73rpx; }
.u-pl74 { padding-left: 74rpx; }
.u-pl75 { padding-left: 75rpx; }
.u-pl76 { padding-left: 76rpx; }
.u-pl77 { padding-left: 77rpx; }
.u-pl78 { padding-left: 78rpx; }
.u-pl79 { padding-left: 79rpx; }
.u-pl80 { padding-left: 80rpx; }

/* ==================== padding-bottom ==================== */
.u-pb1 { padding-bottom: 1rpx; }
.u-pb2 { padding-bottom: 2rpx; }
.u-pb3 { padding-bottom: 3rpx; }
.u-pb4 { padding-bottom: 4rpx; }
.u-pb5 { padding-bottom: 5rpx; }
.u-pb6 { padding-bottom: 6rpx; }
.u-pb7 { padding-bottom: 7rpx; }
.u-pb8 { padding-bottom: 8rpx; }
.u-pb9 { padding-bottom: 9rpx; }
.u-pb10 { padding-bottom: 10rpx; }
.u-pb11 { padding-bottom: 11rpx; }
.u-pb12 { padding-bottom: 12rpx; }
.u-pb13 { padding-bottom: 13rpx; }
.u-pb14 { padding-bottom: 14rpx; }
.u-pb15 { padding-bottom: 15rpx; }
.u-pb16 { padding-bottom: 16rpx; }
.u-pb17 { padding-bottom: 17rpx; }
.u-pb18 { padding-bottom: 18rpx; }
.u-pb19 { padding-bottom: 19rpx; }
.u-pb20 { padding-bottom: 20rpx; }
.u-pb21 { padding-bottom: 21rpx; }
.u-pb22 { padding-bottom: 22rpx; }
.u-pb23 { padding-bottom: 23rpx; }
.u-pb24 { padding-bottom: 24rpx; }
.u-pb25 { padding-bottom: 25rpx; }
.u-pb26 { padding-bottom: 26rpx; }
.u-pb27 { padding-bottom: 27rpx; }
.u-pb28 { padding-bottom: 28rpx; }
.u-pb29 { padding-bottom: 29rpx; }
.u-pb30 { padding-bottom: 30rpx; }
.u-pb31 { padding-bottom: 31rpx; }
.u-pb32 { padding-bottom: 32rpx; }
.u-pb33 { padding-bottom: 33rpx; }
.u-pb34 { padding-bottom: 34rpx; }
.u-pb35 { padding-bottom: 35rpx; }
.u-pb36 { padding-bottom: 36rpx; }
.u-pb37 { padding-bottom: 37rpx; }
.u-pb38 { padding-bottom: 38rpx; }
.u-pb39 { padding-bottom: 39rpx; }
.u-pb40 { padding-bottom: 40rpx; }
.u-pb41 { padding-bottom: 41rpx; }
.u-pb42 { padding-bottom: 42rpx; }
.u-pb43 { padding-bottom: 43rpx; }
.u-pb44 { padding-bottom: 44rpx; }
.u-pb45 { padding-bottom: 45rpx; }
.u-pb46 { padding-bottom: 46rpx; }
.u-pb47 { padding-bottom: 47rpx; }
.u-pb48 { padding-bottom: 48rpx; }
.u-pb49 { padding-bottom: 49rpx; }
.u-pb50 { padding-bottom: 50rpx; }
.u-pb51 { padding-bottom: 51rpx; }
.u-pb52 { padding-bottom: 52rpx; }
.u-pb53 { padding-bottom: 53rpx; }
.u-pb54 { padding-bottom: 54rpx; }
.u-pb55 { padding-bottom: 55rpx; }
.u-pb56 { padding-bottom: 56rpx; }
.u-pb57 { padding-bottom: 57rpx; }
.u-pb58 { padding-bottom: 58rpx; }
.u-pb59 { padding-bottom: 59rpx; }
.u-pb60 { padding-bottom: 60rpx; }
.u-pb61 { padding-bottom: 61rpx; }
.u-pb62 { padding-bottom: 62rpx; }
.u-pb63 { padding-bottom: 63rpx; }
.u-pb64 { padding-bottom: 64rpx; }
.u-pb65 { padding-bottom: 65rpx; }
.u-pb66 { padding-bottom: 66rpx; }
.u-pb67 { padding-bottom: 67rpx; }
.u-pb68 { padding-bottom: 68rpx; }
.u-pb69 { padding-bottom: 69rpx; }
.u-pb70 { padding-bottom: 70rpx; }
.u-pb71 { padding-bottom: 71rpx; }
.u-pb72 { padding-bottom: 72rpx; }
.u-pb73 { padding-bottom: 73rpx; }
.u-pb74 { padding-bottom: 74rpx; }
.u-pb75 { padding-bottom: 75rpx; }
.u-pb76 { padding-bottom: 76rpx; }
.u-pb77 { padding-bottom: 77rpx; }
.u-pb78 { padding-bottom: 78rpx; }
.u-pb79 { padding-bottom: 79rpx; }
.u-pb80 { padding-bottom: 80rpx; }

/* ==================== padding-right ==================== */
.u-pr1 { padding-right: 1rpx; }
.u-pr2 { padding-right: 2rpx; }
.u-pr3 { padding-right: 3rpx; }
.u-pr4 { padding-right: 4rpx; }
.u-pr5 { padding-right: 5rpx; }
.u-pr6 { padding-right: 6rpx; }
.u-pr7 { padding-right: 7rpx; }
.u-pr8 { padding-right: 8rpx; }
.u-pr9 { padding-right: 9rpx; }
.u-pr10 { padding-right: 10rpx; }
.u-pr11 { padding-right: 11rpx; }
.u-pr12 { padding-right: 12rpx; }
.u-pr13 { padding-right: 13rpx; }
.u-pr14 { padding-right: 14rpx; }
.u-pr15 { padding-right: 15rpx; }
.u-pr16 { padding-right: 16rpx; }
.u-pr17 { padding-right: 17rpx; }
.u-pr18 { padding-right: 18rpx; }
.u-pr19 { padding-right: 19rpx; }
.u-pr20 { padding-right: 20rpx; }
.u-pr21 { padding-right: 21rpx; }
.u-pr22 { padding-right: 22rpx; }
.u-pr23 { padding-right: 23rpx; }
.u-pr24 { padding-right: 24rpx; }
.u-pr25 { padding-right: 25rpx; }
.u-pr26 { padding-right: 26rpx; }
.u-pr27 { padding-right: 27rpx; }
.u-pr28 { padding-right: 28rpx; }
.u-pr29 { padding-right: 29rpx; }
.u-pr30 { padding-right: 30rpx; }
.u-pr31 { padding-right: 31rpx; }
.u-pr32 { padding-right: 32rpx; }
.u-pr33 { padding-right: 33rpx; }
.u-pr34 { padding-right: 34rpx; }
.u-pr35 { padding-right: 35rpx; }
.u-pr36 { padding-right: 36rpx; }
.u-pr37 { padding-right: 37rpx; }
.u-pr38 { padding-right: 38rpx; }
.u-pr39 { padding-right: 39rpx; }
.u-pr40 { padding-right: 40rpx; }
.u-pr41 { padding-right: 41rpx; }
.u-pr42 { padding-right: 42rpx; }
.u-pr43 { padding-right: 43rpx; }
.u-pr44 { padding-right: 44rpx; }
.u-pr45 { padding-right: 45rpx; }
.u-pr46 { padding-right: 46rpx; }
.u-pr47 { padding-right: 47rpx; }
.u-pr48 { padding-right: 48rpx; }
.u-pr49 { padding-right: 49rpx; }
.u-pr50 { padding-right: 50rpx; }
.u-pr51 { padding-right: 51rpx; }
.u-pr52 { padding-right: 52rpx; }
.u-pr53 { padding-right: 53rpx; }
.u-pr54 { padding-right: 54rpx; }
.u-pr55 { padding-right: 55rpx; }
.u-pr56 { padding-right: 56rpx; }
.u-pr57 { padding-right: 57rpx; }
.u-pr58 { padding-right: 58rpx; }
.u-pr59 { padding-right: 59rpx; }
.u-pr60 { padding-right: 60rpx; }
.u-pr61 { padding-right: 61rpx; }
.u-pr62 { padding-right: 62rpx; }
.u-pr63 { padding-right: 63rpx; }
.u-pr64 { padding-right: 64rpx; }
.u-pr65 { padding-right: 65rpx; }
.u-pr66 { padding-right: 66rpx; }
.u-pr67 { padding-right: 67rpx; }
.u-pr68 { padding-right: 68rpx; }
.u-pr69 { padding-right: 69rpx; }
.u-pr70 { padding-right: 70rpx; }
.u-pr71 { padding-right: 71rpx; }
.u-pr72 { padding-right: 72rpx; }
.u-pr73 { padding-right: 73rpx; }
.u-pr74 { padding-right: 74rpx; }
.u-pr75 { padding-right: 75rpx; }
.u-pr76 { padding-right: 76rpx; }
.u-pr77 { padding-right: 77rpx; }
.u-pr78 { padding-right: 78rpx; }
.u-pr79 { padding-right: 79rpx; }
.u-pr80 { padding-right: 80rpx; }

/* ==================== padding (四面) ==================== */
.u-pd1 { padding: 1rpx; }
.u-pd2 { padding: 2rpx; }
.u-pd3 { padding: 3rpx; }
.u-pd4 { padding: 4rpx; }
.u-pd5 { padding: 5rpx; }
.u-pd6 { padding: 6rpx; }
.u-pd7 { padding: 7rpx; }
.u-pd8 { padding: 8rpx; }
.u-pd9 { padding: 9rpx; }
.u-pd10 { padding: 10rpx; }
.u-pd11 { padding: 11rpx; }
.u-pd12 { padding: 12rpx; }
.u-pd13 { padding: 13rpx; }
.u-pd14 { padding: 14rpx; }
.u-pd15 { padding: 15rpx; }
.u-pd16 { padding: 16rpx; }
.u-pd17 { padding: 17rpx; }
.u-pd18 { padding: 18rpx; }
.u-pd19 { padding: 19rpx; }
.u-pd20 { padding: 20rpx; }
.u-pd21 { padding: 21rpx; }
.u-pd22 { padding: 22rpx; }
.u-pd23 { padding: 23rpx; }
.u-pd24 { padding: 24rpx; }
.u-pd25 { padding: 25rpx; }
.u-pd26 { padding: 26rpx; }
.u-pd27 { padding: 27rpx; }
.u-pd28 { padding: 28rpx; }
.u-pd29 { padding: 29rpx; }
.u-pd30 { padding: 30rpx; }
.u-pd31 { padding: 31rpx; }
.u-pd32 { padding: 32rpx; }
.u-pd33 { padding: 33rpx; }
.u-pd34 { padding: 34rpx; }
.u-pd35 { padding: 35rpx; }
.u-pd36 { padding: 36rpx; }
.u-pd37 { padding: 37rpx; }
.u-pd38 { padding: 38rpx; }
.u-pd39 { padding: 39rpx; }
.u-pd40 { padding: 40rpx; }
.u-pd41 { padding: 41rpx; }
.u-pd42 { padding: 42rpx; }
.u-pd43 { padding: 43rpx; }
.u-pd44 { padding: 44rpx; }
.u-pd45 { padding: 45rpx; }
.u-pd46 { padding: 46rpx; }
.u-pd47 { padding: 47rpx; }
.u-pd48 { padding: 48rpx; }
.u-pd49 { padding: 49rpx; }
.u-pd50 { padding: 50rpx; }
.u-pd51 { padding: 51rpx; }
.u-pd52 { padding: 52rpx; }
.u-pd53 { padding: 53rpx; }
.u-pd54 { padding: 54rpx; }
.u-pd55 { padding: 55rpx; }
.u-pd56 { padding: 56rpx; }
.u-pd57 { padding: 57rpx; }
.u-pd58 { padding: 58rpx; }
.u-pd59 { padding: 59rpx; }
.u-pd60 { padding: 60rpx; }
.u-pd61 { padding: 61rpx; }
.u-pd62 { padding: 62rpx; }
.u-pd63 { padding: 63rpx; }
.u-pd64 { padding: 64rpx; }
.u-pd65 { padding: 65rpx; }
.u-pd66 { padding: 66rpx; }
.u-pd67 { padding: 67rpx; }
.u-pd68 { padding: 68rpx; }
.u-pd69 { padding: 69rpx; }
.u-pd70 { padding: 70rpx; }
.u-pd71 { padding: 71rpx; }
.u-pd72 { padding: 72rpx; }
.u-pd73 { padding: 73rpx; }
.u-pd74 { padding: 74rpx; }
.u-pd75 { padding: 75rpx; }
.u-pd76 { padding: 76rpx; }
.u-pd77 { padding: 77rpx; }
.u-pd78 { padding: 78rpx; }
.u-pd79 { padding: 79rpx; }
.u-pd80 { padding: 80rpx; }
